# Entornos virtuales
.venv/
venv/
__pycache__/
*.pyc

# Archivos de entorno
.env

# Archivos subidos por usuarios (imágenes)
uploads/

# Bases de datos locales
*.sqlite3

# Logs
*.log

# Carpeta de migraciones (si usas Alembic)
migrations/

# Carpeta de resultados o caches
__pycache__/
*.cache/